<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673064093718-tp6jm0uah8qk5k6bsb84nkplsj7kfapv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673064093718-tp6jm0uah8qk5k6bsb84nkplsj7kfapv</string>
	<key>API_KEY</key>
	<string>AIzaSyCcP6TjlvGC7s9PpovWnSbbeySdqTC6jUY</string>
	<key>GCM_SENDER_ID</key>
	<string>673064093718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DLGTECH.Tonsorial-LIC</string>
	<key>PROJECT_ID</key>
	<string>tonsorialbarbershop-b69fa</string>
	<key>STORAGE_BUCKET</key>
	<string>tonsorialbarbershop-b69fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673064093718:ios:2ba2288f3f782a2e</string>
	<key>DATABASE_URL</key>
	<string>https://tonsorialbarbershop-b69fa.firebaseio.com</string>
</dict>
</plist>